@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family:'Poppins', sans-serif ;
}

.header {
    backdrop-filter: blur(3px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .3s;
}
.header.sticky{
    background: transparent;
}

.logo{
    font-size: 25px;
    color: #2488ca;
    text-decoration: none;
    font-weight: 600;
}
.navbar a{
    font-size: 20px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 30px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: #00abf0;
}
#menu-icon{
    font-size: 3.6rem;
    color: #d3d3d3;
    cursor: pointer;
    display: none;
}
.home{
    height: 100vh;
    color: #081b29;
    display: flex;
    align-items: center;
    padding: 0 10%;
}
.home-container{
    display: flex;
    flex-direction: row;
}
.home-container img{
    justify-content: center;
    animation: blink 2s linear infinite;
}
.home-content{
    max-width: 600px;
    z-index: 99;
}

.home-content h1{
    font-size: 40px;
    font-weight: 700;
}
.home-content h2{
    font-size: 15px;
    color: #2488ca;
    
}

.home-content h3{
    font-size: 30px;
    font-weight: 700;
    color: #00abf0;
}

.home-content p{
    font-size: 16px;
    margin: 20px 0 40px;
    line-height: 1.2;
    font-weight: 500;
}

.home-content .btn-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;
}
.btn-box .btn{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background: #00abf0;
    border: .2rem solid #112e42;
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: #112e42; 
    z-index: 1;
    overflow: hidden;
}
.btn-box .btn:hover{
    color: #00abf0;
}
.btn-box .btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #112e42;
    z-index: -1;
    transition: .5s;
}
.btn-box .btn:hover::before{
    width: 100%;

}
.home-sci{
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
.home-sci a:hover{
    color: white;
}

.home-sci a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:#00abf0;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before{
    width: 100%;
}
.home-imgHover{
    position: absolute;
    top: 0;
    right: 0;
    width: 45%;
    height: 100%;
    background: transparent;
    transition: 3s;
}
.home-imgHover:hover{
    background: white;
    opacity: .6;
}
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 6rem;
    background: #112e42;
    color: #fff;
}
.heading {
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}
span{
    color: #00abf0;
}
.about-img{
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-img img{
    background: black;
    width: 90%;
    border-radius: 50%;
    border: .2rem solid #00abf0;
}
.about-img .circle-pin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid #112e42;
    border-bottom: .2rem solid #112e42;
    border-left: .2rem solid #00abf0;
    border-right: .2rem solid #00abf0;
    animation: aboutSpinner 8s linear infinite;
}
.about-content{
    text-align: center;
}
.about-content h3{
    font-size: 2.6rem;
}
.about-content p{
    font-size: 1.3rem;
    margin: 2rem 2rem 3rem;
}
.btns .btn {
    display: inline-block;
    position: relative;
    justify-content: center;
    width: 15rem;
    height: 100%;
    background: #00abf0;
    border: .2rem solid #00abf0;
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: #112e42;
    z-index: 1;
    overflow: hidden;
}
.btns .btn:hover{
    color: #00abf0;
}

.btns .btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #112e42;
    z-index: -1;
    transition: .5s;
}
.btns .btn:hover::before{
    width: 100%;
}
.porto{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    width: 100%;
    background: #081b29;
    color: #fff;
}
.heading h2{
    font-size: 5rem;
    margin-bottom: 1rem;
    text-align: center;
}
.porto-heading h3 {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    color: #00abf0;
}
.porto-heading p{
    font-size: 1rem;
    margin: 2rem 2rem 3rem;
}
.porto-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    max-width: 1000px;
    
}
.main-content{
    background: #d3d3d3;
    color: #112e42;
    transition: transform .3s ease;
    border-radius: 5%;
    transition: all;
}
.main-content:hover{
    transform: scale(1.1);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.7);
    z-index: 1;
}
.main-content img{
    height: 350px;
    width: 100%;
    border: 1px solid black;
    border-radius: 5%;
}
.main-content h3{
    font-size: 20px;
    font-weight: 700;
    color: #00abf0;
}
.main-content p{
    font-size: 17px;
    margin: 20px 0 40px;
    line-height: 1;
}
@media (max-width: 768px) {
    .porto-content {
      flex-direction: column; 
      gap: .5; 
    }
  
    .main-content {
      flex: 1 0 100%; 
      margin-bottom: 0; 
    }
  }
.contact {
    padding: 80px 0;
    background-color: #112e42;
    text-align: center;
    color: white;
}

.contact .heading {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.contact .heading span {
    color: #00abf0;
}

.contact-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 50px;
}

.contact-items {
    background-color: #00abf0;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    width: 300px;
    text-align: center;
}

.contact-items:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.contact-items a {
    display: block;
    font-size: 2.5em;
    color: #112e42;
    margin-bottom: 15px;
}

.contact-items h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.contact-items p {
    font-size: 1.2em;
    margin-bottom: 0;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
    background: #081b29;
    color: #d3d3d3;
}

/* BREAKPOINTS */
@media (max-width: 1200px){
    html{
        font-size: 55%;
    }
}
@media (max-width: 991px){
    .header{
        padding: 2rem 4%;
    }
    section {
        padding: 10rem 4% 2rem;
    }
    .home{
        padding: 0 4%;
    }
    .footer{
        padding: 2rem 4%;
    }
    .home-container img{
        display: none;
    }
}
@media (max-width : 768px){
    .header{
        background: #081b29;
    }
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        background: #fff;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 1rem 4%;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        z-index: 1;
        transition: .25s ease;
        transition-delay: .25s;
    }
    .navbar.active{
        left: 0;
        transition-delay: 0s;
    }
    .navbar .active-nav{
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: #112e42;
        border-top: .1rem solid rgba(0, 0, 0, .2);
        z-index: -1;
        transition: .24s ease;
        transition-delay: 0s;
    }
    .navbar.active .active-nav{
        left: 0;
        transition-delay: .25s;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        transform: translateX(-20rem);
        transition: .25s ease;
        transition-delay: 0s;
    }
    .navbar.active a{
        transform: translateX(0);
        transition-delay: .25s;
    }
    .home-imgHover{
        pointer-events: none;
        background: white;
        opacity: .6;
    }
    
}
@media (max-width: 520px){
    html{
        font-size: 50%;
    }
    .home-content h1{
        display: flex;
        flex-direction: column;
    }
    .home-sci{
        width: 160px;
    }
    .home-sci a{
        width: 38px;
        height: 38px;
    }
}
@media (max-width : 462px){
    .home-content h1{
        font-size: 5.1rem;
    }
}
@media (max-width: 371px){
    .home {
        justify-content: center;
    }
    .home-content{
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .home-content h1{
        font-size: 5rem;
    }
}
@keyframes aboutSpinner{
    100%{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}